@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.background-image7 {
    background-image: url('../img/feliz.png');
    width: 5%;
    height: 100px;
    right: 50%;
    top:150px;
}


.background-image8 {
    background-image: url('../img/pinki.png');
    width: 15%;
    height: 350px;
    left: 10%;
    top:170px;
}

.background-image9{
    background-image: url('../img/estrellarosa.png');
    width: 10%;
    height: 100px;
    right: -4%;
    top: 203px;
}

.texto1 span{
    background: linear-gradient(to top, rgb(255, 192, 237) 50%, transparent 50%);
}

.texto1{
    word-wrap: break-word;
    font-size: 3vw;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    position: relative;
    top: 380px;
    left: 10%;
}

.invitacion{
    width: 20%;
    left: 63%;
    top: 255px;
    position: relative;
    font-size: 1.5vw;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column; 
    gap: 20px;

}

.external-menu{
    text-align: center;
    padding: 20px 40px;
    background-color: #ffffff;
    border: #000000 4px solid;
    font-family: 'Space Grotesk', monospace;
}

.opciones{
    display: flex;
    flex-direction: row; 
    column-gap: 20px; 
}

.texto3{
    word-wrap: break-word;
    font-size: 2vw;
    font-family: 'Handlee', sans-serif;
    position: relative;
    top: 380px;
    left: 10%;
    background: linear-gradient(to top, rgb(255, 192, 237) 90%, transparent 50%);
    width: fit-content;
    font-weight: 600;
}