@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.background-image7 {
    background-image: url('../img/feliz.png');
    width: 5%;
    height: 100px;
    right: 50%;
    top:150px;
}


.background-image8 {
    background-image: url('../img/pinki.png');
    width: 15%;
    height: 350px;
    left: 10%;
    top:170px;
}

.background-image9{
    background-image: url('../img/estrellarosa.png');
    width: 10%;
    height: 100px;
    right: -4%;
    top: 203px;
}

.texto1 span{
    background: linear-gradient(to top, rgb(255, 192, 237) 50%, transparent 50%);
}

.texto1{
    word-wrap: break-word;
    font-size: 3vw;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    position: relative;
    top: 380px;
    left: 10%;
}

.invitacion{
    width: 20%;
    left: 63%;
    top: 255px;
    position: relative;
    font-size: 1.5vw;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column; 
    gap: 20px;

}

.external-menu{
    text-align: center;
    padding: 20px 40px;
    background-color: #ffffff;
    border: #000000 4px solid;
    font-family: 'Space Grotesk', monospace;
}

.opciones{
    display: flex;
    flex-direction: row; 
    column-gap: 20px; 
}

.texto3{
    top: 380px;
    position: relative;
}

.texto3 p{
    word-wrap: break-word;
    font-size: 2vw;
    font-family: 'Handlee', sans-serif;
    position: relative;
    left: 10%;
    background: linear-gradient(to top, rgb(255, 192, 237) 90%, transparent 50%);
    width: fit-content;
    font-weight: 600;
}

.gustos{
    position: relative;
    top: 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

.gusto{
    width: 27%;
    height: 27vw;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.gusto:hover {
    transform: scale(1.1);
}

.escribir{
    background-color: #FFE68C;
    border: #EECD56 8px solid;
    border-radius: 20px;
    transform: rotate(-10deg);
}

.editar{
    background-color: #9DDCFF;
    border: #5AB5E8 8px solid;
    border-radius: 20px;
    transform: rotate(10deg);
}

.musica{
    background-color: #FFC9F0;
    border: #F384D4 8px solid;
    border-radius: 20px;
    transform: rotate(-10deg);
}

.gusto .imagen{
    width: 70%;
    height: 70%;
    background-size: cover;
}

.gusto p {
    font-size: 2vw;
    font-family: 'Inter', sans-serif;
}

.musica .imagen{
    background-image: url('../img/musica.png');
}

.escribir .imagen{
    background-image: url('../img/escribir.webp');
}

.editar .imagen{
    background-image: url('../img/editar.jpeg');
}

.texto3 .imagen{
    background-image: url(../img/flecha.png);
    width: 4%;
    height: 100px;
    right: -11%;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
}

.mensajes{
    word-wrap: break-word;
    font-size: 2vw;
    font-family: 'Handlee', sans-serif;
    position: relative;
    width: fit-content;
    font-weight: 600;
    position: absolute;
    z-index: 1;
}

.mensaje1{
    left: 22%;
    top: 10px;
    background: linear-gradient(to top, #9DDCFF 90%, transparent 50%);
}

.mensaje2{
    top: -17px;
    left: 58%;
    background: linear-gradient(to top, rgb(255, 192, 237) 90%, transparent 50%);
}

.mensaje3{
    right: 2%;
    top: 16px;
    background: linear-gradient(to top, #FFE68C 90%, transparent 50%);
}

.texto4 p{
    word-wrap: break-word;
    font-size: 5vw;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.texto4{
    word-wrap: break-word;
    font-size: 5vw;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    position: relative;
    top: 500px;
    left: 30%;
    position: relative;
}

.texto4 .imagen{
    background-image: url(../img/carita2.png);
    width: 10%;
    height: 10vw;
    right: 53%;
    top: -28px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat; 
}

.redes{
    top: 600px;
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

.instagram, .discord{
    background-image: url(../img/redes.png);
    width: 41%;
    height: 37vw;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.instagram:hover, .discord:hover {
    transform: scale(1.1);
}

.instagram .imagen, .discord .imagen{
    background-image: url(../img/instagram.png);
    width: 72%;
    height: 15.9vw;
    position: relative;
    top: 4vw;
    background-repeat: no-repeat;
    border: #000000 8px solid;
    background-size: cover;
}

.discord .imagen{
    background-image: url(../img/discord.png);
}

.texto5{
    position: relative;
    top: 7vw;
    right: 6.2vw;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.texto5 h3{
    font-size: 2.4vw;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin: 0;
}

.texto5 p{    
    font-size: 1.4vw;
}

.discord .texto5{
    right: 8.2vw;
}

.link{
    background-image: url(../img/link.png);
    position: absolute;
    width: 3vw;
    height: 3vw;
    right: -11vw;
    background-size: contain;
    background-repeat: no-repeat;
}

.link a{
    width: 100%;
    height: 100%;
    padding: 30px;
}

.discord .link{
    right: -15vw;
}

.texto6{
    word-wrap: break-word;
    font-size: 3vw;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    position: relative;
    top: 800px;
    left: 6%;
}

.opinion{
    width: 41%;
    height: max-content;
    border: #000000 4px solid;
    background-color: white;
    box-shadow: 6px 6px #cccdc2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    row-gap: 2vw;
    padding-bottom: 1vw;
    transition: transform 0.3s ease;
}

.opinion:hover {
    transform: scale(1.1);
}
.opiniones{
    display: flex;
    margin: 0 auto;
    width: 90%;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    top: 900px;
    row-gap: 21px;
}

.opinion-texto{
    word-wrap: break-word;
    font-size: 1.5vw;
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 0.5vw;
    left: 4%;
    max-width: 84%;
    margin: 2vw 0px;    
}

.foto{
    background-image: url(../img/milaneso.png);
    width: 4vw;
    height: 4vw;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: #000000 2px solid;
}

.persona{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 4%;
    top: -1vw;
    width: 19vw;
    align-items: flex-start;
    height: 4vw;
}

.persona-nombre{
    font-size: 1vw;
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 0.5vw;
    left: 5%;
    display: flex;
    row-gap: 6px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.persona-nombre h3{
    margin: 0;
}

.persona-nombre p{
    margin: 0;
    white-space: nowrap;
}

.leer-mas{
    word-wrap: break-word;
    font-size: 1.5vw;
    font-family: 'Inter', sans-serif;
    display: inline-block;
    margin: 0;
    background: none;
    border: none;
    background: linear-gradient(to top, rgb(255, 192, 237) 50%, transparent 50%);
    font-weight: 600;
    cursor: pointer;
}

.entero{
    display: none;  
}

.magui{
    transform: rotate(2deg);
    z-index: 1;
}

.seba{
    transform: rotate(-3deg);
    position: relative;
    top: 70px;
    z-index: 2;
    right: 1vw;
}

.willwood{
    transform: rotate(3deg);
    z-index: 3;
    position: relative;
    top: 47px;
    left: 1vw;
}

.agus{
    z-index: 4;
    position: relative;
    top: 125px;
    transform: rotate(4deg);
    right: 2vw;
}

.milaneso{
    position: relative;
    right: 18vw;
    top: 48px;
    transform: rotate(-1deg);
}

.willwood .foto{
    background-image: url(../img/willwood.png);
}

.seba .foto{
    background-image: url(../img/seba.jpeg);
}

.magui .foto{
    background-image: url(../img/magui.png);
}

.agus .foto{
    background-image: url(../img/agus.png);
}

.goku5 .foto{
    background-image: url(../img/goku5.png);
}

.catunga-final{
    width: 41%;
    border: #000000 5px solid;
    background-color: white;
    box-shadow: 6px 6px #cccdc2;
    display: flex;
    font-family: 'Space Grotesk', monospace;
    position: relative;
    top: 1300px;
    width: 80%;
    margin: auto;
    height: 27vw;
    flex-direction: column;
    justify-content: space-around;;
    align-items: center;
    flex-wrap: nowrap;
}

.texto7{
    font-family: 'Space Grotesk', monospace;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 13vw;
    margin: 0;
    position: relative;
    top: 3vw;
    
}

.texto7 h3, .texto7 p{
    margin: 0;
}

.catunga-final .encabezado-profesional{
    width: 8vw;
    height: 2vw;
    top: -42px;
    position: relative;
    font-size: 1.5vw;
    font-weight: 600;
}

.easteregg1{
    position: absolute;
    top: 20000px;
    width: 80%;
}

.goku5 .persona{
    width: 21vw;   
}

.background-image10{
    background-image: url('../img/linea.png');
    width: 26vw;
    top: 6vw;
}

.background-image11{
    background-image: url('../img/exclamacion.png');
    width: 2vw;
    left: 67vw;
}

.background-image12{
    background-image: url('../img/estrellarosa.png');
    width: 10vw;
    z-index: 1;
    bottom: 5vw;
    right: 17vw;
}

.catunga-final .encabezado-profesional::after {
    content: url('../img/lineas.png'); 
    position: absolute;
    bottom:-49px;
    right:-46px;
    transition: all 0.5s ease; 
    opacity: 0;
    overflow: hidden;
}

.catunga-final .encabezado-profesional:hover::after {
    bottom: -70px;
    right: -70px;
    opacity: 1; 
    overflow: visible;
}

.background-image13{
    background-image: url('../img/estrellarosa.png');
    width: 10vw;
    z-index: 1;
    top: 47vw;
    left: -14vw;
    height: 13vw;
}

.easteregg2{
    text-decoration: none;
    cursor: default;
}

.swal2-title{
    font-family: 'Inter', sans-serif;
    color: rgb(0 0 0);
}

.swal2-confirm{
    background-color:none;
    color: #000000;
    background: linear-gradient(to top, rgb(255, 192, 237) 28%, transparent 89%);
    font-weight: 600;
}

@media (max-width: 1300px) {

    .texto1{
        font-size: 12vw;
        top: 48vw;
        left: 6%;
    }

    .invitacion{
        font-size: 5.5vw;
        top: 59vw;
        width: 70%;
        left: 10%;
    }

    .external-menu{
        padding: 3vw 2vw;
    }

    .texto3{
        top: 74vw;
    }

    .texto3 p{
        font-size: 5vw;
    }

    .texto3 .imagen{
        width: 7vw;
        height: 12vw;
    }

    .gustos{
        flex-wrap: wrap;
        top: 82vw;
    }

    .gusto{
        width: 60%;
        height: 58vw;
    }

    .gusto .imagen{
        position: relative;
        top: 1vw;
    }

    .gusto p {
        font-size: 6vw;
    }

    .mensajes{
        font-size: 5vw;
    }

    .mensaje1{
        left: 64%;
    }

    .mensaje2{
        top: 63vw;
        left: 19%;
    }

    .mensaje3{
        right: 16%;
        top: 112vw;
    }

    .texto4{
        left: 0;
        width: fit-content;
        margin: 0 auto;
        top: 95vw;
    }

    .texto4 p{
        font-size: 10vw;
    }

    .redes{
        top: 89vw;
        flex-wrap: wrap;
    }

    .instagram, .discord{
        width: 80vw;
        height: 80vw;
    }

    .instagram .imagen, .discord .imagen{
        width: 71%;
        height: 35vw;
        top: 10vw;
    }

    .texto5{
        top: 12vw;
        right: 14.2vw;
    }

    .link{
        width: 7vw;
        height: 7vw;
        right: -28vw;
    }

    .texto5 p{
        font-size: 2.8vw;
    }

    .texto5 h3{
        font-size: 6.4vw;
    }

    .discord .texto5{
        font-size: 15.7vw;
        right: 15.8vw;

    }

    .discord .link{
        left: 51vw;
    }

    .texto6{
        right: 15.8vw;
        top: 104vw;
        width: 90%;
        font-size: 7vw;
    }

    .foto{
        width: 9vw;
        height: 9vw;
    }

    .opiniones{
        top: 119vw;
    }

    .opinion{
        width: 80%;
    }

    .opinion-texto{
        font-size: 4vw;
        top: 2vw;
        max-width: 90%;
    }

    .persona-nombre h3, .persona-nombre p{
        font-size: 3vw;
    }

    .persona{
        width: 80%;
        top: 1vw;
        height: 12vw;
    }

    .leer-mas{
        font-size: 4vw;
    }

    .seba{
        top: 6vw;
    }

    .willwood{
        top: 12vw;
    }

    .agus{
        top: 16vw;
        transform: rotate(-1deg);
    }

    .milaneso{
        right: 0;
        top: 22vw;
    }


    .catunga-final{
        top: 160vw;
        flex-wrap: nowrap;
        align-items: center;
        height: 68vw;
        width: 80%;
    }

    .texto7{
        font-size: 5vw;
        top: 3vw;
        width: fit-content;
        margin: 0 auto;
        text-align: center;
        height: 13vw;
    }
    .catunga-final .encabezado-profesional{
        height: 5vw;
        font-size: 4.5vw;
        top: 4vw;
        width: 100%;
        padding: 3vw 4vw;
    }

    .goku5 .foto{
        width: 10vw;
        height: 10vw;
    }

    .goku5 .persona{
        width: 84%;
    }

    .goku5{
        width: 90%;
    }

    .background-image8{
        width: 40%;
        height: 14vw;
        left: 0;
        top: 1vw;
    }

    .background-image9{
        width: 20%;
        height: 18vw;
        right: -7%;
        top: 97vw;
    }

    .background-image7{
        width: 17%;
        height: 16vw;
        right: 39%;
        top: 22vw;
    }

    .texto4 .imagen{
        width: 21%;
        height: 15vw;
        right: -13%;
        bottom: 15vw;
    }

    .background-image10{
        width: 48vw;
        top: 13vw;
    }

    .background-image11{
        width: 7vw;
        left: 68vw;
    }

    .background-image12{
        width: 23vw;
        bottom: 12vw;
        right: -5vw;
    }

    .background-image13{
        width: 29vw;
        top: 92vw;
        left: -21vw;
        height: 26vw;
    }
}