html{
    height: 100%;
    width: 100%;
}

body {
    background-color: #FEFFF0;
    position: relative;
    height: 100%;
    width: 100%;
}

section{
    position: relative;
    width: 100%;
    height: 100%;
    margin:0;
    padding-bottom: 200px;
}
.hidden {
    display: none !important;
}

.bienvenida{
    position: relative;
    margin: 0px auto;
    width: 90%;
    text-align:start;
    font-family: 'Space Grotesk', monospace;
    font-size: 5vw;
    font-weight: bold;
    color: #000000;
    top: 467px;
}

.subrayado{
    text-decoration-color: #ffa6007d;
    text-decoration-thickness: 25px;
    text-decoration-line:line-through;
}

.acercademi{
    position: relative;
    margin: 0px auto;
    text-align: start;
    font-family: 'Space Grotesk', monospace;
    font-size: 1.5vw;
    color: #000000;
    top: 532px;
    display: inline-block;
    background-color: #BAE6FF;
    padding: 20px 35px;
    border-radius: 100px;
    border: #000000 7px solid;
    font-weight: bold;
    left: 5%;
}

.background-images, .background-image{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1; 

}

.background-image1 {
    background-image: url('../img/estrellarosa.png');
    width: 20%;
    height: 130px;;
    right: -5%;
    top:0;
}

.background-image2 {
    background-image: url('../img/estrellarosa.png');
    width: 15%;
    height: 90px;
    left: -3%;
    top:200px;
}

.background-image3 {
    background-image: url('../img/lorva.png');
    width: 25%;
    height: 187px;
    right:29%;
    top:200px;
}

.background-image4 {
    background-image: url('../img/foto.png');
    width: 44vw;
    height: 550px;
    top: 313px;
    left: 55vw;
}

.background-image5 {
    background-image: url('../img/carita.png');
    width: 33%;
    height: 206px;
    top: 291px;
    left: 6%;
}

.background-image6 {
    background-image: url('../img/estrellarosa.png');
    width: 15%;
    height: 105px;
    top: 105%;
    left: -2%;
    z-index: -2;
}



@media (max-width: 900px) {
    .background-image1 {
        right: -7%;
        top:100px;
        width: 100px;
        height: 100px;
    }

    .background-image2 {
        display: none;
    }

    .background-image3 {
        width: 41%;
        height: 30vw;
        right: 29%;
        top: 948px;
    }
    .background-image4{
        width: 106vw;
        height: 90vw;
        left: 7vw;
        top: 1100px;

    }

    .background-image5{
        width: 28%;
    height: 118px;
    top: 293px;
    left: 6%;
    }

    .bienvenida{
        width: 91%;
        top: 325px;
        font-size: 13vw;
    }

    .acercademi {
        position: relative;
        margin: 0px auto;
        text-align: start;
        font-family: 'Space Grotesk', monospace;
        font-size: 5vw;
        color: #000000;
        top: 400px;
        display: inline-block;
        background-color: #BAE6FF;
        padding: 4vw 7vw;
        border-radius: 100px;
        border: #000000 7px solid;
        font-weight: bold;
        left: 5%;
    }
}

@media (max-width: 680px) {
    .background-image4{
        top: 105%;

    }
    .background-image3 {
        width: 37%;
        height: 26vw;
        right: 29%;
        top: 815px;
    }
}
@media (max-width: 350px) {
    .background-image1 {
        display: none;
    }
}