html{
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

/* Para Firefox */
* {
    scrollbar-width: none;
}

body {
    background-color: #FEFFF0;
    position: relative;
    height: 100%;
    width: 100%;
}

section{
    position: relative;
    width: 100%;
    height: 100%;
    margin:0;
    padding-bottom: 200px;
    z-index: 1;
}
.hidden {
    display: none !important;
}

.bienvenida{
    position: relative;
    margin: 0px auto;
    width: 90%;
    text-align:start;
    font-family: 'Space Grotesk', monospace;
    font-size: 5vw;
    font-weight: bold;
    color: #000000;
    top: 467px;
    animation-delay: 1s; 
}



.bienvenida span{
    background: linear-gradient(to top, #FFDC58 50%, transparent 50%);

}

.acercademi{
    position: relative;
    margin: 0px auto;
    text-align: start;
    font-family: 'Space Grotesk', monospace;
    font-size: 1.5vw;
    color: #000000;
    top: 532px;
    display: inline-block;
    background-color: #BAE6FF;
    padding: 20px 35px;
    border-radius: 100px;
    border: #000000 7px solid;
    font-weight: bold;
    left: 5%;
    cursor: pointer;
    animation-delay: 1s; 
}
.acercademi::after {
    content: url('../img/lineas.png'); 
    position: absolute;
    bottom:-49px;
    right:-46px;
    transition: all 0.5s ease; 
    opacity: 0;
    overflow: hidden;
}

.acercademi:hover::after {
    bottom: -70px;
    right: -70px;
    opacity: 1; 
    overflow: visible;
}

.acercademitexto{
    text-decoration: none;
}

.background-images, .background-image{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1; 

}

.background-image1 {
    background-image: url('../img/estrellarosa.png');
    width: 20%;
    height: 130px;;
    right: -5%;
    top:0;
}

.background-image2 {
    background-image: url('../img/estrellarosa.png');
    width: 15%;
    height: 90px;
    left: -3%;
    top:200px;
}

.background-image3 {
    background-image: url('../img/lorva.png');
    width: 25%;
    height: 187px;
    right:29%;
    top:200px;
}

.background-image4 {
    background-image: url('../img/foto.png');
    width: 44vw;
    height: 550px;
    top: 313px;
    left: 55vw;
}

.background-image5 {
    background-image: url('../img/carita.png');
    width: 33%;
    height: 206px;
    top: 291px;
    left: 6%;
}

.background-image6 {
    background-image: url('../img/estrellarosa.png');
    width: 15%;
    height: 105px;
    top: 105%;
    left: -2%;
    z-index: -2;
}



.lorvafotocelu {
    display: none;
}


@media (max-width: 900px) {
    .lorvafotocelu {
        position: relative;
        display: block;
        background-image: url(../img/xd.png);
        width: calc(500px - 1%);
        height: calc(500px - 1%);
        margin: 0px auto;
        margin-top: 412px;
    }
    .background-image1 {
        right: -7%;
        top:100px;
        width: 100px;
        height: 100px;
    }

    .background-image2 {
        display: none;
    }

    .background-image3 {
        display: none;
    }
    .background-image4{
        display: none;

    }

    .background-image5{
        width: 28%;
    height: 118px;
    top: 293px;
    left: 6%;
    }

    .bienvenida{
        width: 91%;
        top: 325px;
        font-size: 13vw;
    }

    .acercademi {
        position: relative;
        margin: 0px auto;
        text-align: start;
        font-family: 'Space Grotesk', monospace;
        font-size: 5vw;
        color: #000000;
        top: 400px;
        display: inline-block;
        background-color: #BAE6FF;
        padding: 4vw 7vw;
        border-radius: 100px;
        border: #000000 7px solid;
        font-weight: bold;
        left: 5%;
    }
}

@media (max-width: 350px) {
    .background-image1 {
        display: none;
    }
}