body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #748C8A;
    
  }

  .copy{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #748C8A;
    
  }

  .servicios{
    padding-top: 70px;
    background-color: #01100E;
  }
.fotosInicio{
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-bottom: 100px; 
  background-color: #01100E;
}
  .sImagen{
    width: 80%;
   
    display: inline-block;
  }
  header {
    z-index: 5;
    color: #fff;
    padding: 10px;
    position:fixed;
    width: 100%;
    background-color: #748C8A;
  }
.slogan{
color: rgba(255, 255, 255, 255.70);
text-align: center;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.logo a{
    font-size: 20px;
    text-decoration: none;
    color: #0d0d0d;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    margin-right: 10px;
  }
  ul a:hover{
    color: #0d0d0d;
  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 50px;
    font-size: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  .red{
    width: 60px;
  }
  h1 {
    color: #fff;
    text-align: center;
    padding: 100px;
    margin: auto;
    font-size: 40px;
    font-weight: bold;
    margin-top: center;
  }
  
  #features {
    background-image:url(../img/fondo.jpg);
    background-size: cover;
    padding: 90px 0;
    text-align: center;
    
  }
  
  .feature {
    display: inline-block;
    margin: 0 50px;
    max-width: 300px;
    color: #fff;
    background-color: #010D0Caa;
    margin-top: 20px;
    padding: 10px;
    border-radius: 25px;
  }
  
  .feature img {
    width: 100%;
    max-width: 190px;
    height: 316.53;
    margin-top: 50px;
  }

#redes{
  text-align:center;
  background-color: #01100E;
  padding: 5px;
}

  footer img{
    width: 30px;
    padding-left: 30px;
  }

  footer p{
    text-align: center;
    color: #fff;
  }
  
  .imagenReseña{
    
    display: flex;
    align-items: center;
    text-align: right;
    padding-left: 20px;
    height: 250px;
  }
  .valoracion{
    display: flex;
    justify-content: right;
    
  }
  .corazon{
    width: 50px;
    padding-top: 20px;
    padding-right: 20px;
  }

  .textoReseña{
    width: 60%;
    display: block;
    text-align: left;
  }
  .imagenRe{
    padding-right: 20px;
    border-radius: 50%;
    
    width: 200px;
  }

  .separador{
    width: 100%;
    height: 40px;
    background-color: #748C8A;
  }
  .reseñaContenido{

    display: flex;
    justify-content: center;
  }

  .reseña{
    background-color: rgba(248, 255, 238, 0.77);
    border-radius: 20px;
    width: 80%;
    height: 300px;
    
  }

  .fondo{
    background-color: #748C8A;
    padding-bottom: 50px;
  }